body {
  background-color: #f4f4f4;
  color: #333;
  margin: 20;
  padding: 20px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  font-family: cursive;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
}

a:visited {
  color: inherit;
}

a:active {
  color: inherit;
}

a:hover {
  cursor: pointer;
}

.intro {
  margin: 20px auto 0 auto;
  width: 850px;
}

.title {
  margin-bottom: 10px;
  color: #f7abc7;
  stroke: black;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  font-family: cursive;
}

.instructions {
  margin-bottom: 10px;
}

.canvas {
  display: block;
  border: 1px solid black;
  margin: 10px auto 50px auto;
  cursor: pointer;
}

.node {
  fill: #fff;
  stroke: #999999;
}

.link {
  stroke: #51aeae;
  stroke-opacity: 0.6;
  stroke-width: 10px;
}

.loop {
  stroke: #000;
  stroke-width: 1.5px;
  fill: none;
}

.graph-info {
  position: absolute;
  top: 10px;
  left: 10px;
  background: rgba(255, 255, 255, 0.8);
  padding: 10px;
  border-radius: 5px;
}

.container {
  max-width: 900px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

p {
  font-size: 16px;
  margin-bottom: 20px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  font-size: 14px;
  margin-bottom: 5px;
}

.loop-info {
  margin-top: 20px;
}

.loop-list {
  list-style-type: none;
  padding: 0;
}

.loop-list li {
  margin-bottom: 5px;
  padding: 5px;
  background-color: #f3f3f3;
  border: 1px solid #ddd;
  border-radius: 4px;
}